.btn {
  text-decoration: none;
  cursor: pointer;
}
.btn-primary {
  background-color: #e278b1;
  color: white;
}
.btn-transparent {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btn-large {
  font-size: 18px;
  height: 80px;
  width: 180px;
}
.btn-medium {
  font-size: 18px;
  border-radius: 25px;
  height: 40px;
  width: 120px;
}
