.navbar {
  background: #90d8f9;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
.navbar-logo {
  font-weight: bold;
  color: #2b4d66;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.navbar-logo-icon {
  margin-right: 8px;
}
.navbar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.navbar-item {
  height: 80px;
  border-bottom: 4px solid transparent;
}
.navbar-item:hover {
  border-bottom: 4px solid #e278b1;
}
.navbar-link {
  font-weight: bold;
  color: #2b4d66;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
}
.btn-icon {
  margin-right: 8px;
}
