.section-style {
  background-color: #90d8f9;
  padding: 160px 0;
}
.section-style-white {
  background-color: white;
  padding: 160px 0;
}
.section-container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
.section-row {
  align-items: center;
}
.section-col {
  flex-basis: 50%;
}
.text-wrapper {
  max-width: 500px;
  padding-bottom: 60px;
}
.text-line {
  letter-spacing: 1.2px;
  background-color: #2b4d66;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
}
.text-header {
  margin-top: 25px;
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: 900;
  color: #2b4d66;
}
.text-desc {
  color: #3d3d3d;
  line-height: 1.5;
  margin-bottom: 25px;
}
.img-wrapper {
  max-width: 95%;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
